<h1><%= @assignment.title %></h1>

<%= link_to 'Back', course_assignments_path(@assignment.course_id) %>
<%= link_to 'Edit', edit_course_assignment_path(@assignment.course_id, @assignment) %>
<%= link_to 'Delete', course_assignment_path(@assignment.course_id, @assignment), method: :delete %>
