<h1><%= @quiz.title %></h1>

<%= link_to 'Back', course_quizzes_path(@quiz.course_id) %>
<%= link_to 'Edit', edit_course_quiz_path(@quiz.course_id, @quiz) %>
<%= link_to 'Delete', course_quiz_path(@quiz.course_id, @quiz), method: :delete %>
