<h1>Course Details</h1>
<h3><%= @course.title %></h3>
<%= link_to 'Back', courses_path %>
<%= link_to 'Edit', edit_course_path(@course)  %>
<%= link_to 'Delete', @course, method: :delete %>
<p>Add link to Assignments</p>
<p>Add link to Quizzes</p>
